<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Angular Springboot Application
  </h1>
</div>
<h2>Api Spring Boot </h2>

<ol>
  <li>
    <a href="https://serene-wildwood-12474.herokuapp.com/save" target="_blank">
      Save
    </a>
  </li>
  <li>
    <a href="https://serene-wildwood-12474.herokuapp.com/findall" target="_blank">List
    </a>
  </li>
  <li>
    <a href="https://serene-wildwood-12474.herokuapp.com/?id=33" target="_blank">Find by ID
    </a> </li>
  <li>
    <a href="https://serene-wildwood-12474.herokuapp.com/findbylastname?lastname=Smith" target="_blank"> Find by Lastname
    </a>
  </li>
</ol>
